@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
header{
    text-align: center;
    line-height: 150px;
    height: 150px;
    margin-bottom: 3%;
    padding: 1%;
    background-color: black;
    color: white;
    font-size: 100px;
}
body{
    font-family: 'Jua', sans-serif;
    margin: 0;
    background-color: #202020;
}
div.menu{
    text-align: center;
    border-radius: 5%;
    padding: 1%;
    width: 400px;
    height: 400px;
    line-height: 400px;
    background-color: white;
    font-size: 90px;
    margin: auto;
    margin-bottom: 20%;
}

div.menuWraper{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}